{% extends "base.html" %}

{% block content %}
	<div style = 'margin: 10px'>
	{% for task in tasks_list %}
		<p>
		<a href = /{{ 'task/' + ContestId|string + '/' + tasks_id[task]|string }}> Задача {{ task }} </a>
		
		{% if admin %}
			<a href = /{{ 'remove_task/' + ContestId|string + '/' + tasks_id[task]|string }}><button class="btn">Удалить</button></a>
		{% endif %}
		</p>
	{% endfor %}
	{% if admin %}
		<p>
		<a href = /{{ 'create_new_task/' + ContestId|string }}><button class="btn">Добавить задачу</button></a>
		</p>
	{% endif %}
	</div>
{% endblock %}
