{% extends "base.html" %}

{% block content %}
	<h2 class="name" style="text-align:center">SchemaCoder в стадии разработки</h2>
	<!--
	<div style="float:right width:auto" >
		<img src = {{ url_for('static', filename='images/coding_man.gif') }} width="25%" style="float:right">
	</div>
	-->
	<div class="content">	
		<!--
		
		<h2><strong>дд.мм</strong></h2>
		<p>
			описание новости</br>
			<ul>
				<li>первый пункт</li>
				<li>второй пункт</li>
				<li>третий пункт</li>
			</ul>
		</p>	
		<hr>
		
		-->
		
		<h2><strong>19.04</strong></h2>
		<p>
			Видимых изменений не наблюдается</br>
		</p>	
		<p>
			Возможность отправлять на сервер файлы находится в стадии разработки</br>
		</p>	
		<hr>

		<h2><strong>18.04</strong></h2>
		<p>
			Полностью изменен дизайн сайта
		</p>
		<hr>
		
		<h2><strong>17.04</strong></h2>
		<p>
			Мы переписали часть кода на CSS, так что теперь SchemaCoder выглядит опрятнее</br>
			<ul>
				<li>Название теперь написано двумя цветами</li>
				<li>На всем сайте установлен шрифт helvetica, arial или sens-serif в зависимости от браузера, с помощью которого открывается SchemaCoder</li>
			</ul>
		</p>
		<p>
			Также у пользователей теперь есть возможность скачивать условия задач, а админы снова могут создавать несколько новых задач в контесте 
		</p>
		<hr>
		

	</div>
{% endblock %}