{% extends "base.html" %}

{% block content %}
	<div class = "content">
		<h1 class = "name">Что такое Schemacoder?</h1>
		Schemacoder - это платформа для решения задач на языке схем, разработанная двумя перспективными учениками 57 школы (Подробнее в разделе 
		<a href = "/about_us">О нас</a>)
		<div class = "code">
			scheme (in1 in2) main (out1): <br>
			<a class = "tab"> (in1 in2) and (out1) <br>
			<a class = "tab"> (in1 in2) and (out1) <br>
			<a class = "tab"> (in1 in2) and (out1) <br>
			end <br>
		</div>
	</div>
{% endblock %}